<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"> <!--Remember!!!! "vm" references to "controllerAs in app.js   ALWAYS USE VM-->
            <h3>
                Have a Review?
            </h3>
            <form role="form" ng-submit="vm.add()">
                <div class="form-group">
                    <input ng-model="vm.comment" name="comment" type="text" class="form-control" placeholder="Comment"/>
                </div>
                <div class="form-group">

                    <label>
                        Rating:
                    </label>
                    <select ng-model="vm.rating" name="rating" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <input type="submit" value="Add" />
            </form>
            <h3>
                Reviews
            </h3>
            <div class="list-group" ng-model="vm">
                <ul>
                    <li ng-repeat="item in vm.items">
                        <div ng-if="vm.updateItem !== item">
                            {{item.Id}} {{item.Comment}}  {{item.Rating}}
                            <a href="#/" ng-click="vm.updateItem = item">Update</a>
                            <a href="#/" ng-click="vm.remove(item)">Delete</a> 
                        </div>
                        <div ng-if="vm.updateItem === item">
                            <input ng-model="vm.updateItem.Comment" />
                            <select ng-model="vm.updateItem.Rating" name="rating" class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <a href="#/" ng-click="vm.update(item)">Save</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>