
<!DOCTYPE html>
<html ng-app="AngularReview">
<head>
    <title>AngularAjax</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/ngApp/app.js"></script>
    <script src="~/Scripts/ngApp/controllers.js"></script>
</head>
<body>
    <h1>Review for Fallout 4</h1>
    <ng-view></ng-view>
</body>
</html>